body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#search {
  font-size: large;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  box-sizing: border-box;
  height: 4ch;
}

#heading {
  display: flex;
  align-items: center;
}
#heading * {
  margin-right: 1ch;
}
